.calculator-body{
    border: 1px solid;
    width: 280px;
    height: 330px;
    margin: 70px auto;
    border-radius: 8px;
    background-color: black;
}
.display-box input{
    width: 250px;
    margin: 10px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid white;
}
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.keys button{
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.special-chars{
    background-color: rgb(245, 163, 10);
    border: none;
}
.numbers{
    background-color: lightblue;
    border: none;
}
.clear{
    background-color: red;
    color:white;
    font-weight: bold;
    border: none;
}
.equals button{
    margin: 20px 0px 0px 20px;
    padding:5px 10px 5px 10px;
    width: 70px;
    border-radius: 5px;
    background-color: rgb(69, 167, 69);
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}
